<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<link rel="stylesheet" href="https://blog.yixiao.org/github-markdown-light.css">
<title>{{ page.title }} - Yixiao.Org</title>
<style>
    /* 默认情况下，照片宽度为50% */
    img {
      width: 50%;
    }

    /* 在手机设备上，照片宽度为100% */
    @media only screen and (max-width: 600px) {
      img {
        width: 100%;
      }
    }



html{
      width: 80%;
      font-size: 17px;
     

    }

    
    @media only screen and (max-width: 600px) {
      html{
        width: 100%;
      }
    }

</style>
</head>
<body>
  {% if page.url == "/" %}
  <h2>Yixiao.Org's Blog</h2>
  {% endif %}
{% if page.id %}
<h2><a href="/">Yixiao.Org's Blog</a></h2>


<h2 style="display:inline;">{{page.title}}</h2> {{ page.date | date: "%Y-%m-%d" }}
<br><br>
{% endif %}
<div class="markdown-body">

{{ content }}
</div>
{% if page.id %}

<br>
<script src="https://giscus.app/client.js"
data-repo="YixiaoOrg/blog_giscus"
data-repo-id="R_kgDOLhHYLw"
data-category="Announcements"
data-category-id="DIC_kwDOLhHYL84CeA0h"
data-mapping="url"
data-strict="0"
data-reactions-enabled="1"
data-emit-metadata="0"
data-input-position="top"
data-theme="preferred_color_scheme"
data-lang="zh-CN"
crossorigin="anonymous"
async>
</script>
{% endif %}
<footer>
<br>
<a href="https://Yixiao.Org">Yixiao.Org</a>
<a href="https://github.com/YixiaoOrg" target="_blank" rel="me noopener noreffer">GitHub</a>
<a href="https://twitter.com/YixiaoOrg" target="_blank" rel="me noopener noreffer">Twitter</a><br>
 Contact me at <a alt="发邮件我吧！" href="mailto:&#x0068;&#x0069;&#x0040;&#x0079;&#x0069;&#x0078;&#x0069;&#x0061;&#x006f;&#x002e;&#x006f;&#x0072;&#x0067;">&#x0068;&#x0069;&#x0040;&#x0079;&#x0069;&#x0078;&#x0069;&#x0061;&#x006f;&#x002e;&#x006f;&#x0072;&#x0067;</a>.
<br>
<span id="busuanzi_container_site_pv" style='display:none'>
  Visitors:<span id="busuanzi_value_site_pv"></span>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</footer>

</body>
</html>